[include]
    path = ~/.gitconfig.aliases
[user]
  name = Ingar Almklov
  email = ingara@gmail.com
[push]
  default = current
[pull]
  default = current
  rebase = true
[core]
  editor = nvim
  filemode = false
  excludesfile = /Users/ingaralmklov/.gitignore_global
  pager=delta
  quotepath=off
[color]
  ui = true
  diff = auto
  status = auto
  branch = auto

[gui]
  diffopts = -w
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
  required = true
	process = git-lfs filter-process
[rerere]
  enabled = true
[credential]
  helper = osxkeychain
[init]
  defaultBranch = main

[delta]
    features = line-numbers

[delta "magit-delta"]
    line-numbers = false
