[user]
	name = Ingar Almklov
	email = ingar.almklov@bekk.no
[push]
	default = current
[pull]
  default = current
  rebase = true
[core]
  editor = nvim
  filemode = false
	excludesfile = /Users/ingaralmklov/.gitignore_global
  pager=less -x4
[color]
  ui = true
[alias]
  last = log -1 --stat
  cp = cherry-pick
  co = checkout
  cob = checkout -b
  cl = clone
  ci = commit
  cm = commit -m
  s = status
  st = status -sb
  br = branch
  d = diff
  dw = diff -w
  dc = diff --cached
  unstage = reset HEAD --
  lg = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
  lgg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
  ec = config --global -e
  save = !git add -A && git commit -m 'SAVEPOINT'
  wip = commit -am "WIP"
  undo = reset HEAD~1 --mixed

    #Github Flow
  up = !git pull --rebase --prune $@ && git submodule update --init --recursive
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  alias = config --get-regexp ^alias\\.

[gui]
  diffopts = -w
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[mergetool]
  path = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/ingaralmklov/.stCommitMsg
